<div class="text-center">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm.value)" class="form-signin">
        <h1 class="h3 mb-3 font-weight-normal">Ingreso</h1>
        <label for="inputUsername" class="sr-only">Username</label>
        <input formControlName="username" type="email" id="inputUsername" class="form-control" placeholder="Username" required="" autofocus="">
        <label for="inputPassword" class="sr-only">Password</label>
        <input formControlName="password" type="password" id="inputPassword" class="form-control" placeholder="Password" required="">
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
            {{errorMessage}}
    </form>

    <br />
    <a [routerLink]="['/register']" class="btn btn-link">Soy nuevo aqui</a>
</div>


