<div class="container">
    <ul class="list-group">
        <li *ngFor="let task of this.listTasks" class="list-group-item d-flex justify-content-between align-items-center">
            {{ task.text }} - <span>{{task.status}}</span>
            <button type="button" class="close" aria-label="Close" (click)="remove(task)">
                    <span aria-hidden="true">&times;</span>
            </button>
        </li>
    </ul>
    <div *ngIf="this.listTasks && this.listTasks.length==0" class="alert alert-dark" role="alert">
        No hay tareas
    </div>
    <form [formGroup]="addTaskForm" (ngSubmit)="onSubmitNewTask(addTaskForm.value)">
        Tarea:
        <input pInputText type="text" formControlName="text"/>
    </form>
</div>
<button type="button" class="close" aria-label="Close" (click)="this.authenticationService.logout();">
        logout
</button>
